<div class="card">
    <div class="card-body">
        <div class="row">
            <button
                    title="Enable Virtual printer on all online instances..."
                    id="blkEnableVirtualPrinter"
                    type="button"
                    class="dropdown-item"
                    href="#"
                    aria-expanded="false"
            >
                <i class="fas fa-vr-cardboard"></i> Enable Virtual Printer...
            </button>
        </div>
    </div>
</div>