<% const hidden_not_development_mode = (development_mode) ? "" : "d-none" %>

    <div class="btn-group float-right <%=hidden_not_development_mode%>">
        <button type="button" class="btn btn-outline-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fab fa-dev"></i> Development Actions
        </button>
        <div class="dropdown-menu">

        </div>
    </div>
