
<div class="col-lg-12 table-responsive-sm table-responsive-md">
        <table id="" class="table table-dark table-striped text-center">
            <thead>
            <tr>
                <th scope="col" class="sticky-table table-dark" >Printer Name</th>
                <th scope="col" class="sticky-table table-dark" >OctoPrint Version</th>
                <th scope="col" class="sticky-table table-dark" >Printer Firmware</th>
                <th scope="col" class="sticky-table table-dark" >Python Version</th>
                <th scope="col" class="sticky-table table-dark" >pip Version</th>
                <th scope="col" class="sticky-table table-dark" >OS Platforms</th>
                <th scope="col" class="sticky-table table-dark" >OS Cores</th>
                <th scope="col" class="sticky-table table-dark" >OS RAM</th>
                <th scope="col" class="sticky-table table-dark" >Safe Mode Check</th>
                <th scope="col" class="sticky-table table-dark" >Print Success Rate</th>
                <th scope="col" class="sticky-table table-dark" >Activity Rate</th>
                <th scope="col" class="sticky-table table-dark" >Resend Percentage</th>
                <th id="trOctoPi-Model" scope="col" class="sticky-table table-dark d-none">OctoPi Model</th>
                <th id="trOctoPi-Version" scope="col" class="sticky-table table-dark d-none">OctoPi Version</th>
                <th id="trOctoPi-ThrottleState" scope="col" class="sticky-table table-dark d-none">Throttle Issue</th>
                <th id="trOctoPi-OverHeatIssue" scope="col" class="sticky-table table-dark d-none">Overheat Issue</th>
                <th id="trOctoPi-Undervoltage" scope="col" class="sticky-table table-dark d-none">Undervoltage</th>
            </tr>
            </thead>
            <tbody id="farmOverviewInformation" style="height:100%; overflow-y:auto;">

            </tbody>
        </table>
</div>
