<% const disable_btn_air_gapped = (air_gapped) ? "disabled" : "" %>

<div class="btn-group float-left">
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
        <i class="fab fa-octopus-deploy"></i> OctoPrint Manager
    </button>
    <div class="dropdown-menu">
        <h6 class="dropdown-header d-none">Settings</h6>
        <button
                title="Update multiple OctoPrint's at once."
                id="blkOctoPrintSettingsUpdateBtn"
                type="button"
                class="dropdown-item d-none"
                href="#"
                aria-expanded="false"
                data-toggle="modal" data-target="#printerSelectModal"
        >
            <i class="fas fa-cogs"></i> Bulk Settings Update<%= disable_btn_air_gapped %>
        </button>
        <h6 class="dropdown-header">Client</h6>
        <button
                title="Update multiple OctoPrint's at once."
                    id="blkOctoPrintUpdate"
                    type="button"
                    class="dropdown-item"
                    href="#"
            >
                <i class="fab fa-raspberry-pi text-success"></i> Update Clients <%= disable_btn_air_gapped %>
            </button>
            <button
                    title="Install multiple plugins at once."
                    id="blkOctoPrintBackupBtn"
                    type="button"
                    class="dropdown-item d-none"
                    href="#"
                    aria-expanded="false"
                    data-toggle="modal" data-target="#printerSelectModal"
                    disabled
            >
                <i class="fas fa-plug text-info"></i> Backup Clients
            </button>
            <button
                    title="Install multiple plugins at once."
                    id="blkOctoPrintRestoreBtn"
                    type="button"
                    class="dropdown-item d-none"
                    href="#"
                    aria-expanded="false"
                    data-toggle="modal" data-target="#printerSelectModal"
                    disabled
            >
                <i class="fas fa-plug text-success"></i> Restore Client
            </button>
        <h6 class="dropdown-header">Plugins</h6>
        <button
                title="Install multiple plugins at once."
                id="blkPluginsInstallBtn"
                type="button"
                class="dropdown-item"
                href="#"
                aria-expanded="false"
                data-toggle="modal" data-target="#printerSelectModal" <%= disable_btn_air_gapped %>
        >
            <i class="fas fa-download text-info"></i> Install Plugins
        </button>
        <button
                title="Uninstall multiple plugins at once."
                id="blkPluginsUnInstallBtn"
                type="button"
                class="dropdown-item"
                href="#"
                aria-expanded="false"
                data-toggle="modal" data-target="#printerSelectModal"
        >


            <i class="fas fa-trash text-danger"></i> Uninstall Plugins
        </button>
        <button
                title="Enable multiple plugins at once"
                id="blkPluginsEnableBtn"
                type="button"
                class="dropdown-item"
                href="#"
                aria-expanded="false"
                data-toggle="modal" data-target="#printerSelectModal"
        >
            <i class="fas fa-toggle-on text-info"></i> Enable Plugin
        </button>
        <button
                title="Disable multiple plugins at once"
                id="blkPluginsDisableBtn"
                type="button"
                class="dropdown-item"
                href="#"
                aria-expanded="false"
                data-toggle="modal" data-target="#printerSelectModal"
        >
            <i class="fas fa-toggle-off text-warning"></i> Disable Plugin
        </button>
        <button
                title="Update multiple OctoPrint Plugins at once."
                id="blkUpdatePluginsBtn"
                type="button"
                class="dropdown-item"
                href="#"
        >
            <i class="fas fa-sync text-success"></i> Update Plugins <%= disable_btn_air_gapped %>
        </button>
        </div>
    </div>
