<div
        id="actionsBar"
        class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-0 pb-0"
>
    <div class="card text-white bg-dark mx-0 my-0">
        <div class="row px-1" id="actionsBarBody">
            <div class="col-12">
                <div class="dropdown">
                    <button title="Various printer manager actions" class="btn btn-success dropdown-toggle float-left mr-1" type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-print"></i> Printer Manager
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <h6 class="dropdown-header">Manage</h6>



                        <h6 class="dropdown-header">Actions</h6>
                        <h6 class="dropdown-header">Printer Commands</h6>

                    </div>
                </div>
                <%- include('./octoPrintActionBtns.ejs') %>

                <%- include('./devOctoPrintActionBtns.ejs') %>
                <button id="connectionsOverviewModalBtn" type="button" class="btn btn-info float-right mr-1" data-toggle="modal"
                        data-target="#connectionsOverviewModal">
                    <i class="fas fa-plug"></i> Connections Overview
                </button>
                <button type="button" class="btn btn-success float-right mr-1" data-toggle="modal"
                        data-target="#farmOverviewModal" id="farmOverviewModalBtn">
                    <i class="fas fa-infinity"></i> Printer Overview
                </button>
                <button
                        title="Check over your OctoPrint setup for OctoFarm usage"
                        id="printerHealthCheckBtn"
                        type="button"
                        class="btn btn-warning text-dark float-right mr-1"
                        href="#"
                        data-toggle="modal" data-target="#healthChecksModal"
                >
                    <i class="fas fa-heartbeat"></i> Health Checks

                </button>
            </div>
        </div>
    </div>
</div>
