<div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
    <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active notyet" id="printer-connection-btn"
           data-toggle="list" href="#printer-connection" role="tab" aria-controls="messages"><i
                    class="fas fa-plug"></i> Connection <i class="fas fa-spinner fa-spin"></i></a>
        <a class="list-group-item list-group-item-action notyet" id="printer-cost-btn"
           data-toggle="list" href="#printer-cost" role="tab" aria-controls="messages"><i
                    class="fas fa-dollar-sign"></i> Cost <i class="fas fa-spinner fa-spin"></i></a>
        <a class="list-group-item list-group-item-action notyet" id="printer-profile-btn"
           data-toggle="list" href="#printer-profile" role="tab" aria-controls="messages"><i
                    class="fas fa-tags"></i> Profile <i class="fas fa-spinner fa-spin"></i></a>
        <a class="list-group-item list-group-item-action notyet" id="printer-power-btn"
           data-toggle="list" href="#printer-power" role="tab" aria-controls="messages"><i
                    class="fas fa-plug"></i> Power <i class="fas fa-spinner fa-spin"></i></a>
        <a class="list-group-item list-group-item-action notyet" id="printer-alerts-btn"
           data-toggle="list" href="#printer-alerts" role="tab" aria-controls="messages"><i
                    class="fas fa-bell"></i> Alerts <i class="fas fa-spinner fa-spin"></i></a>
        <a class="list-group-item list-group-item-action notyet" id="printer-gcode-btn"
           data-toggle="list" href="#printer-gcode" role="tab" aria-controls="messages"><i
                    class="fas fa-pen"></i> Gcode Scripts <i class="fas fa-spinner fa-spin"></i></a>
        <a class="list-group-item list-group-item-action notyet" id="printer-settings-btn"
           data-toggle="list" href="#printer-settings" role="tab" aria-controls="messages"><i
                    class="fas fa-cog"></i> Camera Settings <i class="fas fa-spinner fa-spin"></i></a>
        <a class="list-group-item list-group-item-action notyet" id="printer-trigger-btn"
           data-toggle="list" href="#printer-trigger" role="tab" aria-controls="messages"><i
                    class="fas fa-cog"></i> Trigger Settings <i class="fas fa-spinner fa-spin"></i></a>
    </div>
    <span id="printerSettingsFooter">

                            </span>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade active show" id="printer-connection" role="tabpanel"
             aria-labelledby="system-panel-view-list">
            <p id="offlineMessage"></p>
            <h5>Current Status</h5>
            <hr>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                    <button id="psHost" type="button" class="btn btn-warning mb-1"
                            href="#" target="_blank" disabled> <i
                                class="fas fa-spinner fa-spin"></i> Checking..
                    </button>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                    <button id="psStatus" type="button" class="btn btn-warning mb-1"
                            href="#" target="_blank" disabled> <i
                                class="fas fa-spinner fa-spin"></i> Checking..
                    </button>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                    <button id="psWebSocket" type="button"
                            class="btn btn-warning mb-1" href="#" target="_blank"
                            disabled> <i
                                class="fas fa-spinner fa-spin"></i> Checking..
                    </button>
                </div>
            </div>
            <div id="psCurrentConnection" class="row">

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <button disabled
                                    class="btn btn-danger mb-1 btn-block" id="apiCheck"><i class="fas fa-users"></i></button>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <button disabled
                                    class="btn btn-danger mb-1 btn-block" id="stateCheck"><i
                                        class="fas fa-info-circle"></i></button>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <button disabled
                                    class="btn btn-danger mb-1 btn-block" id="settingsCheck"><i
                                        class="fas fa-cog"></i></button>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <button disabled
                                    class="btn btn-danger mb-1 btn-block" id="systemInfoCheck"><i class="fas fa-question-circle"></i></button>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <button disabled
                                    class="btn btn-danger mb-1 btn-block" id="updatesCheck"><i class="fas fa-wrench"></i></button>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <button disabled
                                    class="btn btn-danger mb-1 btn-block" id="filesCheck"><i
                                        class="fas fa-file-code"></i></button>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <button disabled
                                    class="btn btn-danger mb-1 btn-block" id="profileCheck"><i
                                        class="fas fa-id-card"></i></button>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <button disabled
                                    class="btn btn-danger mb-1 btn-block" id="systemCheck"><i
                                        class="fas fa-server"></i></button>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <button disabled
                                    class="btn btn-danger mb-1 btn-block" id="pluginsCheck"><i class="fas fa-plug"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <h5>Serial Defaults</h5>
            <hr>
            <p id="portNotAvailableMessage"></p>
            <p>Set OctoPrints default serial connection settings. These will be saved to your
                OctoPrint instance so it will always use these when connecting to your
                printer.</p>
            <div id="psConnectionDefaults" class="row">

                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" id="psDefaultPortDrop">

                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" id="psDefaultBaudDrop">

                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4"
                     id="psDefaultProfileDrop">

                </div>
            </div>
            <h5>Quick Connect Settings</h5>
            <hr>
            <div id="quickConnectionSettings" class="row">
                <div class="col-12">
                    Set your quick connection button settings.<br>

                    <b>Connected/Disconnect: </b> When this is enabled the button will attempt to establish a connection between OctoPrint and your Printer.<br>
                    <b>Power On/Off: </b>  When this is enabled the button will try and power your printer On, before connect attempt and off after a disconnect attempt.<br>
                    <code>Requires an OctoPrint power plugin and power tab setting up to toggle printers power!</code>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <form class="was-validated">
                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="psQuickConnect" required>
                            <label class="custom-control-label" for="psQuickConnect">Connect/Disconnect</label>
                            <div class="valid-feedback">Will try to connect/disconnect</div>
                            <div class="invalid-feedback">Will skip connect/disconnect</div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <form class="was-validated">
                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="psQuickPower" required>
                            <label class="custom-control-label" for="psQuickPower">Power On/Off</label>
                            <div class="valid-feedback">Will try to power on/off printer</div>
                            <div class="invalid-feedback">Will skip powering on/off printer</div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="psQuickConnectTimeout">Connect after power timeout</label>
                        <div class="input-group mb-2">
                            <input type="number" class="form-control" id="psQuickConnectTimeout" step="1">
                            <div class="input-group-append">
                                <div class="input-group-text">Seconds</div>
                            </div>
                        </div>
                        <small class="form-text text-muted">
                            The time between attempting to power your printer on after a successful connection attempt.
                        </small>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="psQuickPowerTimeout">Power after disconnect timeout</label>
                        <div class="input-group mb-2">
                            <input type="number" class="form-control" id="psQuickPowerTimeout" placeholder="3000" step="1">
                            <div class="input-group-append">
                                <div class="input-group-text">Seconds</div>
                            </div>
                        </div>
                        <small class="form-text text-muted">
                            The time between attempting to disconnect your printer after a successful power off attempt.
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="printer-profile" role="tabpanel"
             aria-labelledby="system-panel-view-list">
            <h5>Printer Profiles</h5>
            <hr>
            <p>Below is your current selected printer profile information. You may make edits to
                it here and have it saved back in OctoPrint.</p>
            <div id="psPrinterProfiles" class="row">

            </div>
        </div>
        <div class="tab-pane fade" id="printer-cost" role="tabpanel"
             aria-labelledby="system-panel-view-list">
            <h5>Printer Costs</h5>
            <hr>
            <p>Below are the settings used to calculate the printer costs column in history and
                on other views.</p>
            <div id="psPrinterCost" class="row">

            </div>
        </div>
        <div class="tab-pane fade" id="printer-alerts" role="tabpanel"
             aria-labelledby="system-panel-view-list">
            <h5>Alerts</h5>
            <hr>
            <p>List of Alerts activated on this printer.</p>
            <p>To set these up go to System -> Alerts</p>
            <div class="row">
                <div class="col-12" id="psCustomAlertsTable">
                    <table id="customAltersTable"
                           class="table table-sm table-dark table-striped table-responsive-sm table-responsive-md text-center">
                        <thead>
                        <tr>
                            <th scope="col">Active</th>
                            <th scope="col" style="width:150px;">Trigger</th>
                            <th scope="col">Script</th>
                            <th scope="col">Message</th>
                        </tr>
                        </thead>
                        <tbody id="printerAltersTableBody"
                               style="height:100%; overflow-y:auto;">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="printer-power" role="tabpanel"
             aria-labelledby="system-panel-view-list">
            <h5>Power Commands</h5>
            <hr>
            <p>Setup your host/printer power commands here. Enabling these will add a Power menu
                button next to printer control on all views.</p>
            <div class="alert alert-warning text-dark" role="alert">
                You will need to refresh the web interface for these settings to take effect!
            </div>
            <div class="row">
                <div class="col-12" id="psPowerCommands">

                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="printer-gcode" role="tabpanel"
             aria-labelledby="system-panel-view-list">
            <h5>OctoPrint Gcode Scripts</h5>
            <hr>
            <div id="psGcodeManagerGcode">

            </div>
        </div>
        <div class="tab-pane fade" id="printer-settings" role="tabpanel"
             aria-labelledby="system-settings-list">
            <h5>Camera Settings</h5>
            <hr>
            <div class="row">
                <div class="col-12 col-md-12" id="printerManagerSettings">
                    <h6><u>Camera Settings</u></h6>
                    <div id="cameraRotation">

                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="printer-trigger" role="tabpanel"
             aria-labelledby="system-settings-list">
            <h5>Trigger Settings</h5>
            <hr>
            <div class="row">
                <div class="col-12 col-md-12" id="printerManagerSettings">
                    <h6><u>Temperature Triggers</u></h6>
                    <div id="tempTriggers">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
