<div class="modal fade" id="printerStatisticsModal" tabindex="-1" role="dialog"
     aria-labelledby="printerStatisticsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header px-3 pt-3 pb-2" id="printerStatisticsTitle">
                Printer Statistics
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row text-center" id="printerStatistics">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
