<div
  class="float-right btn-group flex-wrap btn-group-sm"
  role="group"
  aria-label="Basic example"
>
  <button type="button" class="btn btn-dark">
    <i class="fas fa-file-upload"></i>
  </button>
  <button type="button" class="btn btn-dark">
    <i class="fas fa-play"></i>
  </button>
  <button type="button" class="btn btn-dark">
    <i class="fas fa-download"></i>
  </button>
  <button type="button" class="btn btn-dark">
    <i class="fas fa-trash-alt"></i>
  </button>
</div>
