<div
  class="float-right btn-group flex-wrap btn-group-sm"
  role="group"
  aria-label="Basic example"
>
  <button type="button" class="btn btn-success">
    <i class="fas fa-play"></i> Start
  </button>
  <button type="button" class="btn btn-info">
    <i class="fas fa-file-upload"></i> Select
  </button>
  <button type="button" class="btn btn-warning">
    <i class="fas fa-people-carry"></i> Move
  </button>
  <button type="button" class="btn btn-dark">
    <i class="fas fa-download"></i> Download
  </button>
  <button type="button" class="btn btn-danger">
    <i class="fas fa-trash-alt"></i> Delete
  </button>
</div>
