<% let base = '..' %>
<% let loading = base + '/octofarm-loading.ejs' %>

<div class="container-fluid">
    <div class="row">

    </div>
</div>
<!--<script src="/assets/dist/about.modal.min.js?<%= clientVersion %>"></script>-->
