<!--// Settings Panel-->
<% let base = './partials' %>
<% let card = base + '/octofarm-card.ejs' %>

<div class="row">
    <div class="col-lg-12 h-100">
        <%- include(card, {
            tile:{
            id:"systemSettings",i:"fa-tools",title:"System Management",class:"col-lg-12",
            },
            bodyFile:'./System/systemMenu.ejs'
        })
        %>
    </div>
</div>
<script src="/assets/dist/system.runner.<%= clientVersion %>.min.js" type="module"></script>

