<% if(typeof errors !== 'undefined'){ %>
  <% errors.forEach(function(error) { %>
    <div class="alert alert-warning d-flex align-items-center" role="alert">
      <i class="fa-solid fa-triangle-exclamation me-3"></i>
      <div>
        <%= error.msg %>
      </div>
    </div>
  <% }); %>
<% } %>
<% if(success_msg != ''){ %>
  <div class="alert alert-success d-flex align-items-center" role="alert">
    <i class="fa-solid fa-check me-3"></i>
    <div>
      <%= success_msg %>
    </div>
  </div>
<% } %>
<% if(error_msg != ''){ %>
  <div class="alert alert-danger d-flex align-items-center" role="alert">
    <i class="fa-solid fa-bomb me-3"></i>
    <div>
      <%= error_msg %>
    </div>
  </div>
<% } %>
<% if(error != ''){ %>
  <div class="alert alert-danger d-flex align-items-center" role="alert">
    <i class="fa-solid fa-bomb me-3"></i>
    <div>
      <%= error %>
    </div>
  </div>
<% } %>
