<% const forceDarkText = ["warning"] %>
<% if(forceDarkText.includes(alertType)) { %>
    <% alertType = alertType + " text-dark" %>
<% } %>

<div class="alert alert-<%= alertType %>" role="alert">
   <%= alertMessage %>
</div>
