<div class="form-check mb-2">
    <input title="This does not persist server reboots" name="remember_me" class="form-check-input text-purple" type="checkbox" value="yes" id="rememberMe" aria-describedby="invalidCheck3Feedback" required>
    <label class="form-check-label" for="invalidCheck3">
        Remember Me!
    </label>
</div>