<% const forceDarkText = ["warning"] %>
<% if(forceDarkText.includes(alertType)) { %>
    <% alertType = alertType + " " %>
<% } %>

<div class="alert alert-<%= alertType %>" role="alert">
   <%- alertMessage %>
</div>
