<% let base = '..' %>
<% let tabMenu = base + '/octofarm-side-tab-menu.ejs' %>

<div class="row">
        <%- include(tabMenu, {
            list:{
                menuClass: "col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2",
                bodyClass: "col-12 col-sm-12 col-md-9 col-lg-10 col-xl-10",
                listItems: [
                    {
                        id: "admin-system",
                        name: "System",
                        icon: "fa-solid fa-server",
                        bodyFile: "./Administration/system.ejs"
                    },
                    {
                        id: "admin-update",
                        name: "Update",
                        icon: "fa-solid fa-cloud-arrow-down",
                        bodyFile: "./Administration/update.ejs"
                    },
                    {
                        id: "admin-tasks",
                        name: "Tasks",
                        icon: "fa-solid fa-list-check",
                        bodyFile: "./Administration/tasks.ejs"
                    },
                    {
                        id: "admin-theme",
                        name: "Theme",
                        icon: "fa-solid fa-fill-drip",
                        bodyFile: "./Administration/theme.ejs"
                    },
                    {
                        id: "admin-printers",
                        name: "Printers",
                        icon: "fa-solid fa-print",
                        bodyFile: "./Administration/printers.ejs"
                    },
                    {
                        id: "admin-views",
                        name: "Views",
                        icon: "fa-solid fa-eye",
                        bodyFile: "./Administration/views.ejs"
                    },
                    {
                        id: "admin-history",
                        name: "History",
                        icon: "fa-solid fa-timeline",
                        bodyFile: "./Administration/history.ejs"
                    },
                    {
                        id: "admin-filemanager",
                        name: "Filament Manager",
                        icon: "fa-solid fa-toilet-paper",
                        bodyFile: "./Administration/filament.ejs"
                    },
                    {
                        id: "admin-influx",
                        name: "InfluxDB",
                        icon: "fa-solid fa-asterisk",
                        bodyFile: "./Administration/influx.ejs"
                    }
                ],
            }
            })
        %>
</div>
