<div id="octofarmErrorModal" class="modal fade m-auto">
    <div class="modal-dialog modal-confirm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header alert-danger">
                    <i class="fas fa-exclamation-triangle"></i>&nbsp;
                    <span id="apiErrorTitle">  </span>

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body text-center">
                <div id="apiErrorMessage"></div>
                <p>
                    Double check your logs and refresh to continue.
                </p>
            </div>
        </div>
    </div>
</div>
