/.github
/.idea
.git
.env
.gitignore
*.env
*docker-compose.yml
*Dockerfile
*.md
*.txt
/.build
/.cache
Makefile
/**/node_modules
/coverage
/.clinic

/client_2x
/server_2x
/screenshots

/test
/OctoFarm
/logs
