**/.idea/
**/node_modules/
/server/middleware/db.js
**/logs/
**/.clinic/
.env
**/docker-compose.yml
**/.build
**/.cache
**/coverage
/images

# Ignore any local release zips
octofarm.zip

*.tgz
pnpm-lock.yaml
/client/assets/js
/client/assets/css
/client/build/*

