#.gitignore

# Client
/web-client/node_modules/

# Old Server Client
/server_1x/node_modules/
/server_1x/logs/
/server_1x/.clinic/
/server_1x/.idea/
/server_1x/images/historyCollection/
/server_1x/*.env
/server_1x/*docker-compose.yml
/server_1x/.build
/server_1x/.cache

/server_1x/views/assets/js/

/server_1x/views/assets/css/

/server_1x/views/images/

# V2 Server

server_2x/node_modules/

server_2x/dist/

server_2x/assets/public/assets/

server_2x/.env

logs/

.idea/
