**/.idea/
**/node_modules/
**/config/db.js
**/logs/
**/.clinic/
**/dist/
**/.env
**/docker-compose.yml
**/.build
**/.cache
**/coverage
/images

# Ignore any local release zips
octofarm.zip
/dist/
/views/assets/dist/
package/

# Client
/web-client/
client_2x/build/

# V2 Server
server_2x/assets/public/assets/

*.tgz
