
            <b class="mb-0"><i class="fas fa-clock"></i> Average Estimated Time</b>
            <p id="avgEstimatedTime" class="mb-1">Loading...</p>
            <b class="mb-0"><i class="fas fa-clock"></i> Average Remaining Time</b>
            <p id="avgRemainingTime" class="mb-1">Loading...</p>
            <b class="mb-0"><i class="fas fa-clock"></i> Average Elapsed Time</b>
            <p id="avgElapsedTime" class="mb-1">Loading...</p>

