<button type="button" aria-expanded="false" disabled
        class="btn btn-secondary float-right d-block ml-1 mr-1 p-1">
    <span id="globalTemp">
        <i class="fas fa-temperature-high"></i> Total Temperature:
        <span id="totalTemp"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i>&nbsp;°C</span>
    </span>
</button>
