<small><i class="fas fa-square" style="color: green;"></i> Stable Temp &nbsp;&nbsp;</small>
<small><i class="fas fa-square" style="color: orange;"></i> Heating &nbsp;&nbsp;</small>
<small><i class="fas fa-square" style="color: #e74c3c;"></i> Offline &nbsp;&nbsp;</small>
<small><i class="fas fa-square" style="color: darkBlue;"></i> Cooling &nbsp;&nbsp;</small>
<small><i class="fas fa-square" style="color: cyan;"></i> Cooled &nbsp;&nbsp;</small>
<div id="currentTemps" class="row justify-content-sm-center">

</div>
