<small><i class="fas fa-square text-warning"></i> Active &nbsp;&nbsp;</small>
<small><i class="fas fa-square text-success"></i> Complete &nbsp;&nbsp;</small>
<small><i class="fas fa-square text-secondary"></i> Idle &nbsp;&nbsp;</small>
<small><i class="fas fa-square text-danger"></i> Disconnected &nbsp;&nbsp;</small>
<small><i class="fas fa-square text-offline"></i> Offline &nbsp;&nbsp;</small>
<div id="currentStatus" class="row justify-content-sm-center">
</div>
