a {
    text-decoration: none !important;
}

/* COLOURS */
.text-purple {
    color: var(--octofarm-main-colour) !important;
}

.link-purple {
    color: var(--octofarm-main-colour) !important;
}
.link-purple:hover, .link-purple:focus {
    color: var(--octofarm-highlight-colour) !important;
}

.active-monitoring {
    color: var(--octofarm-highlight-colour) !important;
}

/* BUTTONS */
.btn-outline-purple {
    color: var(--octofarm-main-colour) !important;
    border-color: var(--octofarm-main-colour) !important;
}

.btn-outline-purple:hover {
    color: var(--octofarm-highlight-colour) !important;
    border-color: var(--octofarm-highlight-colour) !important;
}

.btn-circle.btn-sm {
    width: 20px;
    height: 20px;
    padding: 2px 0;
    border-radius: 15px;
    font-size: 10px;
    text-align: center;
}

.list-group-item.active {
    background-color: var(--octofarm-main-colour) !important;
    border-color: var(--octofarm-highlight-colour) !important;
}

/* CARD */
.card {
    opacity: 0.9 !important;
}

/* SCROLL BAR */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: var(--navbar-colour-dark) !important;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--navbar-colour-light) !important;
}


[data-bs-theme=dark] ::-webkit-scrollbar-thumb {
    background: var(--sidebar-colour-dark) !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--octofarm-highlight-colour) !important;
}