:root {
    --header-height: 2rem;
    --nav-width: 68px;
    --z-fixed: 100;
    --white-colour: #a480e5;
    --sidebar-colour: #212020;
    --octofarm-colour: #7a4cc7;
}
a {
    text-decoration: none;
}

.text-purple {
    color: var(--octofarm-colour);
}

.active-monitoring {
    color: var(--white-colour) !important;
}

.btn-outline-purple {
    color: var(--octofarm-colour);
    border-color: var(--octofarm-colour);
}

.btn-outline-purple:hover {
    color: var(--white-colour);
    border-color: var(--white-colour);
}

.card {
    opacity: 0.95 !important;
}

.btn-circle.btn-sm {
    width: 20px;
    height: 20px;
    padding: 2px 0;
    border-radius: 15px;
    font-size: 10px;
    text-align: center;
}
