<div class="row">
    <div id="userResetMessage" class="col-12">

    </div>
    <div class="form-group col-12">
        <label for="resetPassword">Password</label>
        <input type="password" id="resetPassword" name="password" class="form-control" placeholder="New Password" autocomplete="new-password"
               />
    </div><br>
    <div class="form-group col-12">
        <label for="resetPassword2">Confirm Password</label>
        <input type="password" id="resetPassword2" name="password2" class="form-control" placeholder="Confirm Password" autocomplete="new-password"
               />
    </div>
</div>