<div class="card mb-4">
    <div class="card-body p-0">
        <% if (!bodyFile) { %>
            <em> This widget failed to render due to missing 'tile.bodyId' or 'bodyFile' alternative </em>
        <% } else { %>
            <%# More complex card-body content %>
            <%- include(bodyFile) %>
        <% } %>
    </div>
</div>

