
<% if(typeof printerCount != 'undefined' && printerCount > 0 ) {%>

    <% if(clientSettings.cameraView.currentOp){%> <%-
    include('./partials/currentOperations.ejs') %> <% }%>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div id="camView" class="row">

      </div>
    </div>
<% }else{ %>
  <%- include('./addPrinters.ejs') %>
<% } %>
<script src="/assets/js/cameraViewRunner.min.js" type="module"></script>