<% if(typeof printerCount != 'undefined' && printerCount > 0 ) {%>
  <div id="listView" class="row">
    <%- include('./partials/actionsBar.ejs') %>
    <% if(clientSettings.views.currentOperations){%> <%-
    include('./partials/currentOperations.ejs') %> <% }%>
    <div class="col-lg-12" id="printerArea">
    </div>
  </div>
  <script src="/assets/dist/combined-view.runner.min.js" type="module"></script>
  <script src="/assets/dist/bulk-action-commands.functions.min.js" type="module"></script>
<% }else{ %>
  <%- include('./addPrinters.ejs') %>
<% } %>


