<div id="listView" class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div id="listView" class="row">
            <%- include('./partials/Views/currentOperationsView.ejs') %>
        </div>
    </div>
</div>
