<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"><i class="fas fa-database"></i> Create</h1>
      <%- include('./partials/messages') %>
      <p>Your Mongo DatabaseURI has not been entered.</p>
      <p>Please open up config/db.js and enter it between the quotes and restart the server.</p>
      </form>
    </div>
  </div>
</div>
