<% if(typeof currentOperationsCount != 'undefined' && currentOperationsCount.idle > 0 || currentOperationsCount.active > 0) {%>
<div id="filemanager" class="row">
  <div id="filePrinters" class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 ">
    <div class="card text-white bg-dark">
      <div class="card-header fileHeader">
        <h5 class="float-left">
          <button
            type="button"
            class="btn btn-secondary float-right d-block"
            href="#"
            aria-expanded="false"
            disabled
          >
            <i class="fas fa-print"></i> Printers
          </button>
        </h5>
        <button
          type="button"
          class="btn btn-secondary float-right d-block"
          href="#"
          aria-expanded="false"
          disabled
        >
        <i id="fileUploadCountSpinner" class="fas fa-spinner"></i></span> <span id="fileUploadCount"> File Queue: 0</span>
        </button>
      </div>
      <div class="card-body fileBody">
        <center>
          <button
            id="multUploadBtn"
            type="button"
            class="btn btn-info m-3"
            data-toggle="modal"
            data-target="#multiUploadModal"
          >
            <i class="fas fa-layer-group"></i> Multi-Upload
          </button>
       <!--  <button
            type="button"
            class="btn btn-info m-3"
            data-toggle="modal"
            data-target="#fileReplaceModal" disabled
          > 
            <i class="fas fa-exchange-alt"></i> File Replace
          </button>-->
        </center>
        <div id="printerList" class="list-group">
          <%- include('./partials/FileManager/printerList.ejs') %>
        </div>
      </div>
      <div class="card-footer fileFooter text-muted"></div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
    <div class="card text-white bg-dark">
      <div class="card-header fileHeader">
        <h5 class="float-left">
          <button
          id="currentPrinterBtn"
            type="button"
            class="btn btn-secondary float-right d-block"
            href="#"
            aria-expanded="false"
            disabled
          >
            <i class="fas fa-print"></i> <span id="currentPrinter"><i class="fas fa-spinner fa-spin"></i></span>.  
          </button>
        </h5>
        <h5 class="float-left">
          <button
            id="printerStorage"
            type="button"
            class="btn btn-secondary float-right d-block"
            href="#"
            aria-expanded="false"
            disabled
          >
            <i class="fas fa-hdd"></i> 0 / 0
          </button>
        </h5>
        <h5 class="float-left">
          <button
            type="button"
            class="btn btn-secondary float-right d-block"
            href="#"
            aria-expanded="false"
            disabled
          >
            <i class="fas fa-file-code"></i> Files: <span id="currentFolder">local</span>/
          </button>
        </h5>
        <div class="form-group mt-2 mb-2 float-right">
          <form class="form-inline">
            <div class="form-group">
              <label for="searchFiles">
                <i class="fas fa-search pr-1"></i>
              </label>
              <input
                id="searchFiles"
                type="text"
                placeholder="File Search..."
                class="search-control search-control-underlined"
              />
            </div>
          </form>
        </div>
      </div>
      <div class="card-body fileBody">
        <button id="fileBackBtn" type="button" class="btn btn-success m-3 float-right">
          <i class="fas fa-chevron-left"></i> Back
        </button>
          <label class="btn btn-success m-3 float-left" for="fileUploadBtn"><i class="fas fa-file-import"></i> Upload File(s)</label>
          <input id="fileUploadBtn" multiple accept=".gcode,.gco,.g" type="file" class="btn btn-success float-left" id="uploadFileBtn">
        <button
          id="createFolderBtn"
          type="button"
          class="btn btn-warning m-3 float-left"
          data-toggle="collapse"
          href="#createFolder"
          role="button"
          aria-expanded="false"
          aria-controls="createFolder"
        >
          <i class="fas fa-folder-plus"></i> Create Folder
        </button>
        <button id="fileReSync" type="button" class="btn btn-primary m-3">
          <i class="fas fa-sync"></i> Re-Sync
        </button>
        </center>
        <div id="fileList" class="list-group">

        </div>
      </div>
      <div class="card-footer fileFooter text-muted"></div>
    </div>
  </div>
</div>

<% }else{ %>
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <p>
       To use file manager you need at least 1 idle or active printer in your farm... Please turn your printer on and connect. 
      </p>
    </div>
  </div>
</div>
<% } %>
<script src="/js/lib/modules/fileManager.js" type="module"></script>