<% if(typeof printerCount != 'undefined' && printerCount > 0 ) { %>
    <% if(clientSettings.panelView.currentOp){ %> <%-
    include('./partials/currentOperations.ejs') %> <% } %>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div id="printerArea" class="row">
        </div>
    </div>
<% }else{ %>
    <%- include('./addPrinters.ejs') %>
<% } %>

<!-- Modal -->
<div class="modal fade" id="quickActionsModal" tabindex="-1" role="dialog" aria-labelledby="quickActionsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="quickActionsModalLabel">Quick Actions</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="printFilesList"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="/assets/dist/printer-map.runner.min.js" type="module"></script>
