<!--// Settings Panel-->
<% let base = './partials' %>
<% let card = base + '/octofarm-card.ejs' %>

<div class="row">
    <%- include(card, {
    tile:{
    id:"systemSettings",i:"fa-tools",title:"Admin Management",class:"col-lg-12",
    },
    bodyFile:'./Admin/systemMenu.ejs'
    })
    %>
</div>
<script src="/assets/dist/system.runner.min.js" type="module"></script>

