<!--// Settings Panel-->
<% let base = './partials' %>
<% let card = base + '/octofarm-card.ejs' %>

<div class="row">
<%- include(card, {
    tile:{
        id:"systemSettings",i:"fa-tools",title:"System Management",class:"col-lg-12",
    },
    bodyFile:'./System/systemMenu.ejs'
    })
%>
</div>
<script src="/assets/dist/settings.min.js" type="module"></script>

