<div class="row">
    <div class="col-lg-6">
        <center>
            <p>OctoFarm is the creation of James Mackay from <a
                        href="https://notexpectedyet.com">NotExpectedYet</a> which
                is also one of his personal projects. It was designed after using
                the wonderful software Octoprint for well over a year
                before getting his second printer. Realising he could only
                control/monitor one printer from the Octoprint interface he decided
                to write his own implementation using the API in Octoprint. This
                spawned OctoFarm which is used
                currently for monitoring and managing multiple Octoprint attached
                printers. <br>If you would like to say thanks to James for designing
                this free and open source software package then feel free to send
                him a donation using the
                button below.</p>
            <p><a href="https://www.patreon.com/bePatron?u=19808757"
                  target="_blank">
                    <button type="button" class="btn btn-danger">Become a Patreon!
                    </button>
                </a></p>
            <p>
                <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=QGBJML3E7268L&source=url"
                   target="_blank">
                    <button type="button" class="btn btn-info">Paypal Donation!
                    </button>
                </a></p>
        </center>
    </div>
    <div class="col-lg-6">
        <center>
            <div class="row">
                <div class="col-12">
                    <h5>Big thanks to the following Supporters!</h5>
                </div>

                <div class="col-6">
                    <ul class="list-group">
                        <li class="list-group-item">Derek Kirkendall<i
                                    style="color:gold;" class="fas fa-trophy"></i>
                        </li>
                        <li class="list-group-item">Kyle Menigoz <i
                                    style="color:gold;" class="fas fa-trophy"></i>
                        </li>
                        <li class="list-group-item">Insertion <i style="color:gold;"
                                                                 class="fas fa-trophy"></i>
                        </li>
                        <li class="list-group-item">lactose <i style="color:gold;"
                                                               class="fas fa-trophy"></i>
                        </li>
                        <li class="list-group-item">Scott Windmiller <i
                                    style="color:gold;" class="fas fa-trophy"></i>
                        </li>
                        <li class="list-group-item">Curtis Brooks <i
                                    style="color:gold;" class="fas fa-trophy"></i>
                        </li>
                        <li class="list-group-item">Scott Presbrey <i
                                    style="color:gold;" class="fas fa-trophy"></i>
                        </li>
                        <li class="list-group-item">Michael Portsmore <i
                                    style="color:gold;" class="fas fa-trophy"></i>
                        </li>
                        <li class="list-group-item">3DCT<i style="color:gold;"
                                                           class="fas fa-trophy"></i>
                        </li>
                        <li class="list-group-item">Alexander Wang<i
                                    style="color:gold;" class="fas fa-trophy"></i>
                        </li>
                        <li class="list-group-item">Chadd Giesing<i
                                    style="color:gold;" class="fas fa-trophy"></i>
                        </li>
                        <li class="list-group-item">Nick Darrow<i
                                    style="color:gold;" class="fas fa-trophy"></i>
                        </li>
                        <li class="list-group-item">Daniel Bluhm<i
                                    style="color:gold;" class="fas fa-trophy"></i>
                        </li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul class="list-group">
                        <li class="list-group-item">Guy Barton<i style="color:gold;"
                                                                 class="fas fa-trophy"></i>
                        </li>
                        <li class="list-group-item">EIPS<i style="color:gold;"
                                                           class="fas fa-trophy"></i>
                        </li>
                        <li class="list-group-item">Will Nelson<i
                                    style="color:gold;" class="fas fa-trophy"></i>
                        </li>
                        <li class="list-group-item">George McCauley<i
                                    style="color:gold;" class="fas fa-trophy"></i>
                        </li>
                        <li class="list-group-item">David Peters <i
                                    style="color:gold;" class="fas fa-trophy"></i>
                        </li>
                        <li class="list-group-item">Paul Helinski <i
                                    style="color:gold;" class="fas fa-trophy"></i>
                        </li>
                        <li class="list-group-item">Alex Wiecke <i
                                    style="color:gold;" class="fas fa-trophy"></i>
                        </li>
                        <li class="list-group-item">Josh Wright<i
                                    style="color:gold;" class="fas fa-trophy"></i>
                        </li>
                        <li class="list-group-item">geekfisher<i style="color:gold;"
                                                                 class="fas fa-trophy"></i>
                        </li>
                        <li class="list-group-item">leslie k Shaw<i
                                    style="color:gold;" class="fas fa-trophy"></i>
                        </li>
                        <li class="list-group-item">Josheua R Mascote<i
                                    style="color:gold;" class="fas fa-trophy"></i>
                        </li>
                        <li class="list-group-item">Feldherr<i
                                    style="color:gold;" class="fas fa-trophy"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </center>
    </div>
</div>
