<div class="row">
  <div class="col-md-12 col-lg-6 col-xl-6 text-center text-light">
    <div id="farmStatusMap"></div>
  </div>
  <div class="col-md-12 col-lg-6 col-lg-6  text-center text-light">
    <div id="farmTempMap"></div>
  </div>
</div>