<a
  href="#"
  class="list-group-item list-group-item-action flex-column align-items-start active notyet list-group-item-secondary"
  style="display: block;
  padding: 0.7rem 0.1rem;"
>
  <div class="row">
    <div
      class="col-lg-1"
      style="display:flex; justify-content:center; align-items:center;"
    >
      <center><i class="fas fa-print fa-3x" style="color:#583c0e;"></i></center>
    </div>
    <div class="col-lg-11">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">1. Battle Bot</h5>
        <small>22 Hrs, 5 Mins, 12 Seconds</small>
      </div>
      <p class="mb-1">
        Poppy-Sweetheart.gcode
      </p>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped bg-info"
          role="progressbar"
          style="width: 50%"
          aria-valuenow="50"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          50%
        </div>
      </div>
      <small>T0: 210/210°C / Bed: 60.60°C</small>
    </div>
  </div>
</a>
