<div class="row">
  <div class="col-lg-12 text-center text-light">
    <div class="row">
      <div class="col-lg-6">
        <b class="mt-1"><i class="fas fa-print"></i> Status</b>
        <p class="mb-0">
          <i class="fas fa-square text-success"></i> <b>Completed: 25</b>
          <i class="fas fa-square text-danger"></i> <b>Cancelled: 4</b>

          <br />
        </p>
        <div class="progress mb-0">
          <div
            class="progress-bar progress-bar-striped bg-success"
            role="progressbar"
            style="width: 84% "
            aria-valuenow=" 84%"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            84%
          </div>
          <div
            class="progress-bar progress-bar-striped bg-danger"
            role="progressbar"
            style="width: 16% "
            aria-valuenow="16%"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            16%
          </div>
        </div>
        <p class="mb-0">
          <i class="fas fa-square text-info"></i> <b>Resumed: 3</b>
          <i class="fas fa-square text-warning"></i> <b>Restarted: 1</b>

          <br />
        </p>
        <div class="progress mb-0">
          <div
            class="progress-bar progress-bar-striped bg-info"
            role="progressbar"
            style="width: 75% "
            aria-valuenow=" 75%"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            75%
          </div>
          <div
            class="progress-bar progress-bar-striped bg-warning"
            role="progressbar"
            style="width: 25% "
            aria-valuenow="25%"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            25%
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <b class="mt-1"><i class="fas fa-print"></i> Metrics</b>
        <div class="row">
          <div class="col-lg-6">
            <b><i class="fas fa-clock"></i> Longest Print Time</b> <br />
            3 Days, 10 Hrs, 3 Mins, 12 Seconds<br />
            <b><i class="fas fa-clock"></i> Shortest Print Time</b> <br />
            25 Mins, 54 Seconds <br />
          </div>
          <div class="col-lg-6">
            <b><i class="fas fa-clock"></i> Average Print Time <br /></b>10
            Hours, 5 Mins, 45 Seconds<br />
            <b><i class="fas fa-ruler"></i> Filament Usage <br /></b>954m /
            20kg<br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
