
      <b class="mb-0"><i class="fas fa-clock"></i> Cumulative Estimated Time</b>
      <p id="cumEstimatedTime" class="mb-1">Loading...</p>
      <b class="mb-0"><i class="fas fa-clock"></i> Cumulative Remaining Time</b>
      <p id="cumRemainingTime" class="mb-1">Loading...</p>
      <b class="mb-0"><i class="fas fa-clock"></i> Cumulative Elapsed Time</b>
      <p id="cumElapsedTime" class="mb-2">Loading...</p>
        <b class="mb-0"><i class="fas fa-clock"></i> Average Estimated Time</b>
        <p id="avgEstimatedTime" class="mb-1">Loading...</p>
        <b class="mb-0"><i class="fas fa-clock"></i> Average Remaining Time</b>
        <p id="avgRemainingTime" class="mb-1">Loading...</p>
        <b class="mb-0"><i class="fas fa-clock"></i> Average Elapsed Time</b>
        <p id="avgElapsedTime" class="mb-1">Loading...</p>