<div class="row">
  <div class="col-md-6 col-lg-3 text-center text-light">
    <b><i class="fas fa-clock"></i> Average Estimated Time</b>
    <p>22 Hrs, 5 Mins, 12 Seconds</p>
    <b><i class="fas fa-clock"></i> Average Remaining Time</b>
    <p>6 Hrs, 32 Mins, 43 Seconds</p>
    <b><i class="fas fa-clock"></i> Average Elapsed Time</b>
    <p>16 hrs, 47 minutes, 51 Seconds</p>
  </div>
  <div class="col-md-6 col-lg-3 text-center text-light">
    <b><i class="fas fa-clock"></i> Cumulative Estimated Time</b>
    <p>22 Hrs, 5 Mins, 12 Seconds</p>
    <b><i class="fas fa-clock"></i> Cumulative Remaining Time</b>
    <p>6 Hrs, 32 Mins, 43 Seconds</p>
    <b><i class="fas fa-clock"></i> Cumulative Elapsed Time</b>
    <p>16 hrs, 47 minutes, 51 Seconds</p>
  </div>
  <div class="col-md-6 col-lg-3 text-center text-light">
    <b><i class="fas fa-thermometer-half"></i> Cumulative Tool Heat</b>
    <p>
      <i class="far fa-circle"></i> 200°C <i class="fas fa-bullseye"></i> 210°C
    </p>
    <b><i class="fas fa-thermometer-half"></i> Cumulative Bed Heat</b>
    <p>
      <i class="far fa-circle"></i> 60°C <i class="fas fa-bullseye"></i> 60°C
    </p>
    <b><i class="fas fa-thermometer-half"></i> Cumulative Printer Heat</b>
    <p>
      <i class="far fa-circle"></i> 260°C <i class="fas fa-bullseye"></i> 270°C
    </p>
  </div>
</div>
