<div class="row">
  <div class="col-lg-12">
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped bg-success"
        role="progressbar"
        style="width: 50%"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        50%
      </div>
    </div>
  </div>
  <div class="col-lg-3 text-center">
    <b>Average Estimated Time</b>
    <p>22 Hrs, 5 Mins, 12 Seconds</p>
    <b>Average Remaining Time</b>
    <p>6 Hrs, 32 Mins, 43 Seconds</p>
    <b>Average Elapsed Time</b>
    <p>16 hrs, 47 minutes, 51 Seconds</p>
  </div>
  <div class="col-lg-3 text-center">
    <b>Cumulative Estimated Time</b>
    <p>22 Hrs, 5 Mins, 12 Seconds</p>
    <b>Cumulative Remaining Time</b>
    <p>6 Hrs, 32 Mins, 43 Seconds</p>
    <b>Cumulative Elapsed Time</b>
    <p>16 hrs, 47 minutes, 51 Seconds</p>
  </div>
  <div class="col-lg-3 text-center">
    <b>Total Tool Heat</b>
    <p>210°C</p>
    <b>Total Bed Heat</b>
    <p>60°C</p>
    <b>Total Printer Heat</b>
    <p>270°C</p>
  </div>
  <div class="col-lg-3 text-center">
    <b>Total File Count</b>
    <p>22, 000 gcode Files</p>
    <b>Total File Size</b>
    <p>65 GB</p>
    <b>Total Filament Length</b>
    <p>16 hrs, 47 minutes, 51 Seconds</p>
  </div>
</div>
