<% printers.forEach( printer => {%>
<tr>
  <td><%= printer.ip %></td>
  <td><%= printer.port %></td>
  <td><%= printer.camURL %></td>
  <td data-apikey="${printer.apikey}"><%= printer.apikey %></td>
  <td>
    <button type="button" class="btn btn-danger delete">
      <i class="fas fa-trash deleteIcon"></i>
    </button>
  </td>
</tr>

<% }) %>
