<% let base = "./partials" %>
<% let checkBox = base + "/octofarm-checkbox.ejs" %>
<% let input = base + "/octofarm-input.ejs" %>

<% let is_invalid = ""; %>
<% if(error != ''){ %>
  <% is_invalid = "is-invalid" %>
<% } %>
<div class="row align-items-center vh-100">
  <div class="col-6 mx-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt text-purple"></i> Login</h1>
      <%- include('./partials/messages') %>
      <form action="/users/login" method="POST" class="needs-validation">
        <%- include(input, {
          inputType: "text",
          inputID: "username",
          inputName: "username",
          is_invalid,
          inputPlaceholder: "Enter Username",
          inputAutoComplete: "username",
          inputLabel: "Username"
        }) %>
        <%- include(input, {
          inputType: "password",
          inputID: "password",
          inputName: "password",
          is_invalid,
          inputPlaceholder: "Enter Password",
          inputAutoComplete: "current-password",
          inputLabel: "Password"
        }) %>
        <%- include(checkBox, {
        checkboxID: "rememberMe",
        checkboxChecked: false,
        checkboxLabel: "Remember Me!",
        checkboxOnLable: "Remembering your login details",
        checkboxOffLabel: "No remembering your login details"
        }) %>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-outline-purple " formnovalidate>Login</button>
        </div>
      </form>
      <p class="lead mt-4">
        <% if(registration){ %> No Account?
        <a href="/users/register">Register</a>
        <% } %>
      </p>
    </div>
  </div>
</div>
