<% let is_invalid = ""; %>
<% if(error != ''){ %>
  <% is_invalid = "is-invalid" %>
<% } %>
<div class="row align-items-center vh-100">
  <div class="col-6 mx-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt text-purple"></i> Login</h1>
      <%- include('./partials/messages') %>
      <form action="/users/login" method="POST" class="needs-validation">
        <div class="form-floating mb-2">
          <input
                  type="text"
                  id="username"
                  name="username"
                  class="form-control <%= is_invalid %>"
                  placeholder="Enter Username"
                  autocomplete="username"
          />
          <label for="username">Username</label>
        </div>
        <div class="form-floating mb-2">
          <input
                  type="password"
                  id="password"
                  name="password"
                  class="form-control <%= is_invalid%>"
                  placeholder="Enter Password"
                  autocomplete="current-password"
          />
          <label for="password">Password</label>
        </div>
        <div class="form-check mb-2">
          <input title="This does not persist server reboots" name="remember_me" class="form-check-input text-purple" type="checkbox" value="yes" id="rememberMe" aria-describedby="invalidCheck3Feedback" required>
          <label class="form-check-label" for="invalidCheck3">
            Remember Me!
          </label>
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-outline-purple " formnovalidate>Login</button>
        </div>
      </form>
      <p class="lead mt-4">
        <% if(registration){ %> No Account?
        <a href="/users/register">Register</a>
        <% } %>
      </p>
    </div>
  </div>
</div>
