<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1>Welcome to OctoFarm</h1>
      <p>
        The all in one monitoring solution for multiple Octoprint instances.
      </p>
      <h1><img width="50%" src="images/logo.png" /></h1>
      <% if(registration){%>
      <p>Create an account or login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2 bg-colour-1"
      >Register</a
      >
      <% }%>
      <a href="/users/login" class="btn btn-secondary btn-block bg-colour-2">Login</a>
    </div>
  </div>
</div>
