<small><i class="fas fa-square text-dark" style="color: black;"></i> 0% &nbsp;&nbsp;</small>
<small><i class="fas fa-square text-secondary"></i> < 25% &nbsp;&nbsp;</small>
<small><i class="fas fa-square text-primary"></i> 26% - 50% &nbsp;&nbsp;</small>
<small><i class="fas fa-square text-info"></i> 51% - 75% &nbsp;&nbsp;</small>
<small><i class="fas fa-square text-warning"></i> 76% - 99% &nbsp;&nbsp;</small>
<small><i class="fas fa-square text-success"></i> 100% &nbsp;&nbsp;</small>
<div id="currentUptime" class="row justify-content-sm-center">

</div>
