<div id="printerTickerMessageBox" class="align-items-center d-flex justify-content-center"
     style="height:20rem; width:100%; overflow-y: scroll; font-family: monospace;">
    <div id="printerTickerLoader" class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
