<a
  href="#"
  class="list-group-item list-group-item-action flex-column align-items-start active notyet list-group-item-secondary mb-1"
  style="display: block;
  padding: 0.7rem 0.1rem;"
>
  <div class="row">
    <div
      class="col-lg-1"
      style="display:flex; justify-content:center; align-items:center;"
    >
      <center><i class="fas fa-print fa-3x" style="color:#583c0e;"></i><br>Print</center>
    </div>
    <div class="col-lg-11">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">1. Battle Bot</h5>
        <small><i class="fas fa-clock"></i> 22 Hrs, 5 Mins, 12 Seconds</small>
      </div>
      <p class="mb-1">
        <i class="fas fa-file-code"></i> Poppy-Sweetheart.gcode
      </p>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped bg-info"
          role="progressbar"
          style="width: 50%"
          aria-valuenow="50"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          50%
        </div>
      </div>
      <small class="float-left">
        <b>T0:</b> <i class="far fa-circle"></i> 210
        <i class="fas fa-bullseye"></i>210°C
      </small>

      <small class="float-right">
        <b>Bed:</b>
        <i class="far fa-circle"></i> 60 <i class="fas fa-bullseye"></i> 60°C
      </small>
    </div>
  </div>
</a>
<a
  href="#"
  class="list-group-item list-group-item-action flex-column align-items-start active notyet list-group-item-secondary  mb-1"
  style="display: block;
  padding: 0.7rem 0.1rem;"
>
  <div class="row">
    <div
      class="col-lg-1"
      style="display:flex; justify-content:center; align-items:center;"
    >
      <center><i class="fas fa-tasks fa-3x" style="color:#583c0e;"></i><br>Bulk Print</center>
    </div>
    <div class="col-lg-11">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">
          <i class="fas fa-file-code"></i> Poppy-Sweetheart.gcode<br>
          <small><i class="fas fa-clock"></i> 22 Hrs, 5 Mins, 12 Seconds</small>
        </h5>
        <small>
          <button type="button" class="btn bg-dark mb-1">0. TEST NAME<br>
            <div class="progress">
              <div class="progress-bar bg-ssecondary" progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 57%"></div>
            </div>
          </button>
          <button type="button" class="btn bg-dark mb-1">7. Queeny<br>
            <div class="progress">
              <div class="progress-bar bg-ssecondary" progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 62%"></div>
            </div>
          </button>
          <button type="button" class="btn bg-dark mb-1">8. Changed My Name<br>
            <div class="progress">
              <div class="progress-bar bg-ssecondary" progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 65%"></div>
            </div>
          </button>

        </small>
      </div>
      <p class="mb-1"></p>

      <small>
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped bg-info"
            role="progressbar"
            style="width: 50%"
            aria-valuenow="58"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            58%
          </div>
        </div>
      </small>
    </div>
  </div>
</a>
<hr>
<a
  href="#"
  class="list-group-item list-group-item-action flex-column align-items-start active notyet list-group-item-secondary mb-1"
  style="display: block;
  padding: 0.7rem 0.1rem;"
>
  <div class="row">
    <div
      class="col-lg-1"
      style="display:flex; justify-content:center; align-items:center;"
    >
      <center>
        <i class="fas fa-angle-double-right fa-3x" style="color:#583c0e;"></i><br> Queue 2
      </center>
    </div>
    <div class="col-lg-5">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">1. Battle Bot</h5>
        <small><i class="fas fa-clock"></i> 2 Hrs, 5 Mins, 12 Seconds</small>
      </div>
      <p class="mb-1">
        <i class="fas fa-file-code"></i> Dinosaur prt-0.gcode
      </p>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped bg-info"
          role="progressbar"
          style="width: 50%"
          aria-valuenow="50"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          50%
        </div>
      </div>
      <small class="float-left">
        <b>T0:</b> <i class="far fa-circle"></i> 210
        <i class="fas fa-bullseye"></i>210°C
      </small>

      <small class="float-right">
        <b>Bed:</b>
        <i class="far fa-circle"></i> 60 <i class="fas fa-bullseye"></i> 60°C
      </small>
    </div>
    <div class="col-lg-1"      style="display:flex; justify-content:center; align-items:center;"
    >
      <center>
        <i class="fas fa-angle-double-right fa-3x"></i><br>Queue 3
      </center>
      
    </div>
    <div class="col-lg-5">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">1. Battle Bot</h5>
        <small><i class="fas fa-clock"></i> 22 Hrs, 5 Mins, 12 Seconds</small>
      </div>
      <p class="mb-1">
        <i class="fas fa-file-code"></i> Dinosaur prt-1.gcode
      </p>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped bg-info"
          role="progressbar"
          style="width: 0%"
          aria-valuenow="0"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          0%
        </div>
      </div>
      <small class="float-left">
        <b>T0:</b> <i class="far fa-circle"></i> 210
        <i class="fas fa-bullseye"></i>210°C
      </small>

      <small class="float-right">
        <b>Bed:</b>
        <i class="far fa-circle"></i> 60 <i class="fas fa-bullseye"></i> 60°C
      </small>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">    <small class="float-left">[1] -> [2] -> [*] -> [5] -> [6]</small>
      <small class="float-right"><small><i class="fas fa-clock"></i> 2 Days, 22 Hrs, 5 Mins, 12 Seconds</small></small></div>

  </div>
  <div class="row">
    <div class="col-lg-12">

      <div class="progress">
        <div
          class="progress-bar progress-bar-striped bg-info"
          role="progressbar"
          style="width: 25%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          25%
        </div>
        </div>
    </div>
  </div>
</a>
