<% let username = ""; %>
<% let disableUserDropDown = "disabled"; %>
<% if(typeof name !== "undefined"){ %>
    <% username = name %>
    <% disableUserDropDown = ""; %>
<% } %>

<div class="header_user_menu btn-group btn-group-sm">
    <button type="button" class="btn btn-outline-purple dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" <%= disableUserDropDown%>>
        <i class="fa-solid fa-user"></i>
    </button>
    <ul class="dropdown-menu" style="max-width: 200px;">
        <div class="ps-4 pe-4 text-muted text-center">
            <p class="mb-1"><i class="far fa-user"></i></p>
            <p class="mb-2"><%= username; %></p>
            <p class="mb-1"><%= currentUserGroup; %></p>
        </div>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-display"></i> Client Settings</a></li>
        <% if(currentUserGroup === "Administrator"){ %>
            //TODO new system information modal
            <li><a class="dropdown-item" href="#"><i class="fas fa-info-circle"></i>  Information</a></li>
            <li><a class="dropdown-item" href="/administration"><i class="fa-solid fa-screwdriver-wrench"></i> Administration</a></li>
            //TODO new users page
            <li><a class="dropdown-item" href="/users"><i class="fa-solid fa-users"></i> Users</a></li>
            //TODO new logs modal
            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-clipboard"></i> Logs</a></li>
        <% } %>
        <% if(currentUserGroup === "Administrator"){ %>
            //TODO about modal
            <li><a class="dropdown-item" href=""><i class="fa-solid fa-address-card"></i> About</a></li>
        <% } %>

        <% if(serverSettings.server.loginRequired){ %>
            <li><hr class="dropdown-divider"></li>
            <li><a type="button" class="dropdown-item" href="/users/logout"><i class="fas fa-sign-out-alt"></i> Sign Out</a></li>
        <% } %>
    </ul>
</div>