<div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
    <div class="list-group" id="list-tab" role="tablist">

        <a class="list-group-item list-group-item-action active notyet" id="bulk-appearance-settings-btn"
           data-toggle="list" href="#bulk-appearance-settings" role="tab" aria-controls="messages"><i class="fas fa-eye"></i> Appearance <i class="fas fa-spinner fa-spin"></i></a>
        <a class="list-group-item list-group-item-action notyet" id="bulk-gcodeAnalysis-settings-btn"
           data-toggle="list" href="#bulk-gcode-analysis" role="tab" aria-controls="messages"><i class="fas fa-code-branch"></i> Gcode Analysis <i class="fas fa-spinner fa-spin"></i></a>
        <a class="list-group-item list-group-item-action notyet" id="bulk-plugins-settings-btn"
           data-toggle="list" href="#bulk-plugins-settings" role="tab" aria-controls="messages"><i class="fas fa-plug"></i> Plugins <i class="fas fa-spinner fa-spin"></i></a>
        <a class="list-group-item list-group-item-action notyet" id="bulk-scripts-settings-btn"
           data-toggle="list" href="#bulk-gcode-scripts" role="tab" aria-controls="messages"><i class="far fa-file-code"></i> Gcode Scripts <i class="fas fa-spinner fa-spin"></i></a>
        <a class="list-group-item list-group-item-action notyet" id="bulk-serial-settings-btn"
           data-toggle="list" href="#bulk-serial-connection" role="tab" aria-controls="messages"><i class="fab fa-usb"></i> Serial Connections <i class="fas fa-spinner fa-spin"></i></a>
        <a class="list-group-item list-group-item-action notyet" id="bulk-server-settings-btn"
           data-toggle="list" href="#bulk-server-settings" role="tab" aria-controls="messages"><i class="fas fa-server"></i> Server <i class="fas fa-spinner fa-spin"></i></a>
        <a class="list-group-item list-group-item-action notyet" id="bulk-system-settings-btn"
           data-toggle="list" href="#bulk-system-settings" role="tab" aria-controls="messages"><i class="fas fa-laptop-code"></i> System <i class="fas fa-spinner fa-spin"></i></a>
        <a class="list-group-item list-group-item-action notyet" id="bulk-temperature-settings-btn"
           data-toggle="list" href="#bulk-temperature-settings" role="tab" aria-controls="messages"><i class="fas fa-temperature-high"></i> Temperature <i class="fas fa-spinner fa-spin"></i></a>
        <a class="list-group-item list-group-item-action notyet" id="bulk-terminalFilters-settings-btn"
           data-toggle="list" href="#bulk-terminal-filters" role="tab" aria-controls="messages"><i class="fas fa-terminal"></i> Terminal Filters <i class="fas fa-spinner fa-spin"></i></a>
        <a class="list-group-item list-group-item-action notyet" id="bulk-webcam-settings-btn"
           data-toggle="list" href="#bulk-camera-settings" role="tab" aria-controls="messages"><i class="fas fa-camera-retro"></i> Camera <i class="fas fa-spinner fa-spin"></i></a>
        <a class="list-group-item list-group-item-action notyet" id="bulk-github-settings-btn"
           data-toggle="list" href="#bulk-github-settings" role="tab" aria-controls="messages"><i class="fab fa-github"></i> Github <i class="fas fa-spinner fa-spin"></i></a>
    </div>
    <span id="printerBulkSettingsFooter">

    </span>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade active show" id="bulk-appearance-settings" role="tabpanel"
             aria-labelledby="system-panel-view-list">
            <h5>Appearance Settings</h5>
            <hr>
            <p>Below is your current selected printer profile information. You may make edits to
                it here and have it saved back in OctoPrint.</p>
            <div id="bulk-appearance-el" class="row">

            </div>
        </div>
        <div class="tab-pane fade" id="bulk-gcode-analysis" role="tabpanel"
             aria-labelledby="system-panel-view-list">
            <h5>Gcode Analysis Settings</h5>
            <hr>
            <p>Below is your current selected printer profile information. You may make edits to
                it here and have it saved back in OctoPrint.</p>
            <div id="bulk-gcodeAnalysis-el" class="row">

            </div>
        </div>
        <div class="tab-pane fade" id="bulk-plugins-settings" role="tabpanel"
             aria-labelledby="system-panel-view-list">
            <h5>Plugins Settings</h5>
            <hr>
            <p>Below is your current selected printer profile information. You may make edits to
                it here and have it saved back in OctoPrint.</p>
            <div id="bulk-plugins-el" class="row">

            </div>
        </div>
        <div class="tab-pane fade" id="bulk-gcode-scripts" role="tabpanel"
             aria-labelledby="system-panel-view-list">
            <h5>Gcode Scripts</h5>
            <hr>
            <p>Below is your current selected printer profile information. You may make edits to
                it here and have it saved back in OctoPrint.</p>
            <div id="bulk-scripts-el" class="row">

            </div>
        </div>
        <div class="tab-pane fade" id="bulk-serial-connection" role="tabpanel"
             aria-labelledby="system-panel-view-list">
            <h5>Serial Connection Settings</h5>
            <hr>
            <p>Below is your current selected printer profile information. You may make edits to
                it here and have it saved back in OctoPrint.</p>
            <div id="bulk-serial-el" class="row">

            </div>
        </div>
        <div class="tab-pane fade" id="bulk-server-settings" role="tabpanel"
             aria-labelledby="system-panel-view-list">
            <h5>Server Settings</h5>
            <hr>
            <p>Below are the settings used to calculate the printer costs column in history and
                on other views.</p>
            <div id="bulk-server-el" class="row">

            </div>
        </div>
        <div class="tab-pane fade" id="bulk-system-settings" role="tabpanel"
             aria-labelledby="system-panel-view-list">
            <h5>System Settings</h5>
            <hr>
            <p>Below are the settings used to calculate the printer costs column in history and
                on other views.</p>
            <div id="bulk-system-el" class="row">

            </div>
        </div>
        <div class="tab-pane fade" id="bulk-temperature-settings" role="tabpanel"
             aria-labelledby="system-panel-view-list">
            <h5>Temperature Settings</h5>
            <hr>
            <p>Setup your host/printer power commands here. Enabling these will add a Power menu
                button next to printer control on all views.</p>
            <div class="row" id="bulk-temperature-el">

            </div>
        </div>
        <div class="tab-pane fade" id="bulk-terminal-filters" role="tabpanel"
             aria-labelledby="system-panel-view-list">
            <h5>Terminal Filter Settings</h5>
            <hr>
            <p>NOTE: OctoPrint doesn't seem to update the API with this information straight
                away. If it doesn't seem to update after clicking the "Save Changes" button then
                please check there to see if your values have saved, you will need to use the
                resync button on the interface for OctoFarm to detect the changes.</p>
            <div id="bulk-terminalFilters-el">

            </div>
        </div>
        <div class="tab-pane fade" id="bulk-camera-settings" role="tabpanel"
             aria-labelledby="system-settings-list">
            <h5>Camera Settings</h5>
            <hr>
            <div class="row" id="bulk-webcam-el">

            </div>
        </div>
        <div class="tab-pane fade" id="bulk-github-settings" role="tabpanel"
             aria-labelledby="system-settings-list">
            <h5>Camera Settings</h5>
            <hr>
            <div class="row" id="bulk-github-el">

            </div>
        </div>
    </div>
</div>
