<div class="card text-center">
    <div class="card-body">
        <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
                <div id="activeUsersRow" class="row">
                    <div class="col-lg-12">
                        <div class="float-left mb-2">
                            <h4>Active Sessions: <span id="activeUserCount"><i class="fa-solid fa-spinner fa-spin"></i></span></h4>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div id="activeUserListContainer" class="text-center row">
                            <i class="fa-solid fa-spinner fa-spin"></i><br> Loading Active Sessions List...
                        </div>
                    </div>
                </div>
        </div>
        </div>
    </div>
</div>