<div class="card text-center">
    <div class="card-body">
<div class="row">
    <div class="col-12 text-center">
        <h5 class="text-light">Suffering OctoFarm woes?</h5>
        <p class="text-light">Use the "Log Dump" button below to dump out a .zip file ready to be
            uploaded to your Github issue.</p>
        <button
                id="logDumpGenerateBtn"
                type="button"
                class="btn btn-info float-left"
                href="#"
                aria-expanded="false"
        >
            <i class="fas fa-file-archive"></i> Log Dump
        </button>
        <button
                id="clearOldLogs"
                type="button"
                class="btn btn-warning text-dark float-right"
                href="#"
                aria-expanded="false"
        >
            <i class="fas fa-broom text-dark"></i> House Keeping
        </button>
        <button
                id="logDumpDownloadBtn"
                type="button"
                class="btn btn-success float-left ml-1 d-none"
                href="#"
                aria-expanded="false"
        >
            <i class="fas fa-file-download"></i> Download Log Dump
        </button>

    </div>
</div>

<hr>
<div class="row">

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <table class="table-hover table table-dark">
            <thead>
            <tr>
                <th scope="col">File Name</th>
                <th scope="col">Last Modified</th>
                <th scope="col">Size</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody id="serverLogs">

            </tbody>
        </table>
    </div>
</div>
    </div>
</div>