<div class="row">
    <div class="col-lg-12">

        <div class="alert alert-warning text-dark text-dark" role="alert">
            This expects that you've already set up the psycopg2 dependency on your instances!
        </div>

        <form>
            <div class="form-group">
                <label for="filamentPostGresURI">Postgres URI:</label>
                <input type="email" class="form-control" id="filamentPostGresURI"  placeholder="postgresql://">
            </div>
            <div class="form-group">
                <label for="filamentDatebaseName">Database name: </label>
                <input type="email" class="form-control" id="filamentDatebaseName" aria-describedby="emailHelp" placeholder="Enter Database name">
            </div>
            <div class="form-group">
                <label for="filamentUsername">Username: </label>
                <input type="email" class="form-control" id="filamentUsername" aria-describedby="emailHelp" placeholder="Enter Username">
            </div>
            <div class="form-group">
                <label for="filamentPassword">Password: </label>
                <input type="email" class="form-control" id="filamentPassword" aria-describedby="emailHelp" placeholder="Enter Password">
            </div>
        </form>
    </div>
    <button id="filamentManagerPluginSetupBtn" type="submit" class="btn btn-success">Setup</button>
</div>


