<div class="row">
    <div id="userEditMessage" class="col-12">

    </div>
    <div class="form-group col-12">
        <label for="editName">Name</label>
        <input type="name" id="editName" name="editName" class="form-control" placeholder="Enter Name"
               />
    </div>
    <div class="form-group col-12">
        <label for="editUserName">Username</label>
        <input type="username" id="editUserName" name="username" class="form-control" placeholder="Enter Username"
               />
    </div>
    <div class="form-group mb-3 col-12">
        <label  for="editGroup">Group</label>
        <select class="custom-select" id="editGroup">
            <option value="User">User</option>
            <option value="Administrator">Administrator</option>
        </select>
    </div>
</div>