<div class="row">
    <div id="userCreateMessage" class="col-12">

    </div>
    <div class="form-group col-12">
        <label for="createName">Name</label>
        <input type="name" id="createName" name="name" class="form-control" placeholder="Enter Name"
        />
    </div>
    <div class="form-group col-12">
        <label for="createUserName">Username</label>
        <input type="username" id="createUserName" name="username" class="form-control" placeholder="Enter Username"
        />
    </div>
    <div class="form-group mb-3 col-12">
        <label  for="createGroup">Group</label>
        <select class="custom-select" id="createGroup">
            <option value="User">User</option>
            <option value="Administrator">Administrator</option>
        </select>
    </div>
    <div class="form-group col-12">
        <label for="createPassword">Password</label>
        <input type="password" id="createPassword" name="password" class="form-control" placeholder="New Password" autocomplete="new-password"
        />
    </div><br>
    <div class="form-group col-12">
        <label for="createPassword2">Confirm Password</label>
        <input type="password" id="createPassword2" name="password2" class="form-control" placeholder="Confirm Password" autocomplete="new-password"
        />
    </div>
</div>