<div
        id="actionsBar"
        class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-0 pb-0"
>
    <div class="card text-white bg-dark mx-0 my-0">
        <div class="row px-1" id="actionsBarBody">
            <div class="col-12">
                <div class="dropdown">
                    <button title="Various printer manager actions" class="btn btn-success dropdown-toggle float-left mr-1" type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-print"></i> Printer Manager
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <h6 class="dropdown-header">Manage</h6>
                        <a class="dropdown-item" title="Add Printer to your Farm"
                           id="addPrinterBtn"
                           href="#"
                           aria-expanded="false"><i class="fas fa-plus fa-sm text-success"></i> Add</a>

                        <a class="dropdown-item" id="editPrinterBtn" type="button" class="btn btn-warning text-dark" title="Bulk edit your printers connection settings"
                           data-toggle="modal" data-target="#printerSelectModal"><i class="fas fa-edit text-info"></i> Bulk Edit</a>

                        <a class="dropdown-item" title="Bulk delete printers from your farm"
                           id="deletePrintersBtn"
                           data-toggle="modal" data-target="#printerSelectModal"><i class="fas fa-trash text-danger"></i> Bulk Delete</a>

                        <a class="dropdown-item" title="Bulk enable disabled printers on your farm"
                           id="enablePrintersBtn"
                           data-toggle="modal" data-target="#printerSelectModal"><i class="fas fa-running text-success"></i> Bulk Enable</a>

                        <a class="dropdown-item" title="Bulk disable printers on your farm"
                           id="disablePrintersBtn"
                           data-toggle="modal" data-target="#printerSelectModal"><i class="fas fa-wheelchair"></i> Bulk Disable</a>
                        <h6 class="dropdown-header">Actions</h6>
                        <label>
                            <input class="fileElem"
                                   type="file"
                                   id="importPrinterBtn"
                                   accept=".json" style="display: none;">
                            <a title="Import printers from a json file" class="dropdown-item"><i
                                        class="fas fa-file-import text-info"></i> Bulk Import</a>
                        </label>
                        <a class="dropdown-item" title="Export printers from OctoFarm"
                           id="exportPrinterBtn">
                            <i class="fas fa-file-export text-warning"></i> Bulk Export</a>
                        <a class="dropdown-item"
                           title="Add printers by scanning your network for online OctoPrint instances."
                           id="scanNetworkBtn">
                            <i class="fas fa-wifi"></i> Scan Network
                        </a>
                        <h6 class="dropdown-header">Printer Commands</h6>
                        <a class="dropdown-item"
                           title="Connect OctoPrint to a bulk set of printers"
                           id="bulkConnectBtn"
                           aria-expanded="false"
                           data-toggle="modal" data-target="#printerSelectModal">
                            <i class="fas fa-link text-success"></i> Bulk Connect
                        </a>
                        <a class="dropdown-item"
                           title="Disconnect OctoPrint from a bulk set of printers"
                           id="bulkDisconnectBtn"
                           aria-expanded="false"
                           data-toggle="modal" data-target="#printerSelectModal">
                            <i class="fas fa-unlink text-danger"></i> Bulk Disconnect
                        </a>
                        <a class="dropdown-item"
                           title="Bulk power actions to OctoPrint instances."
                           id="bulkPowerBtn" data-toggle="modal" data-target="#printerSelectModal">
                            <i class="fas fa-power-off text-danger"
                               aria-expanded="false"
                               ></i> Bulk Power
                        </a>
                    </div>
                </div>
                <%- include('./octoPrintActionBtns.ejs') %>
                <button
                        title="Reconnect all of your OctoPrint websocket connections."
                        id="reSyncSockets"
                        type="button"
                        class="btn btn-outline-warning ml-1"
                        href="#"
                >
                    <i class="fas fa-sync-alt fa-sm"></i> Reconnect Sockets
                </button>
                <%- include('./devOctoPrintActionBtns.ejs') %>
                <button id="connectionsOverviewModalBtn" type="button" class="btn btn-info float-right mr-1" data-toggle="modal"
                        data-target="#connectionsOverviewModal">
                    <i class="fas fa-plug"></i> Connections Overview
                </button>
                <button type="button" class="btn btn-success float-right mr-1" data-toggle="modal"
                        data-target="#farmOverviewModal" id="farmOverviewModalBtn">
                    <i class="fas fa-infinity"></i> Printer Overview
                </button>
                <button
                        title="Check over your OctoPrint setup for OctoFarm usage"
                        id="printerHealthCheckBtn"
                        type="button"
                        class="btn btn-warning text-dark float-right mr-1"
                        href="#"
                        data-toggle="modal" data-target="#healthChecksModal"
                >
                    <i class="fas fa-heartbeat"></i> Health Checks

                </button>
            </div>
        </div>
    </div>
</div>
