<% if(typeof user !== 'undefined'){ %>
    <li class="nav-item">
        <a class="nav-link dropdown-toggle text-center" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <% if ( user.name !== "No User" ) { %>
                    <h6 class="dropdown-header">User</h6>
                    <p> <%= user.name %></p>
                    <p><%= user.group %></p>
                    <a class="dropdown-item" href="#">Log Out</a>
                    <div class="dropdown-divider"></div>
                <% } %>
                <h6 class="dropdown-header">Client</h6>
                <a type="button" class="dropdown-item" data-toggle="modal" data-target="#exampleModal">
                    <i class="fas fa-info-circle"></i> Settings
                </a>
                <a type="button" class="dropdown-item d-none" data-toggle="modal" data-target="#exampleModal" disabled>
                    <i class="fas fa-info-circle"></i> Theme
                </a>
                <h6 class="dropdown-header">System</h6>
                <% if (user.group === "Administrator" ) { %>
                    <a type="button" class="dropdown-item" data-toggle="modal" data-target="#systemInformationModal">
                        <i class="fas fa-info-circle"></i> Information
                    </a>
                    <a type="button" class="dropdown-item" data-toggle="modal" data-target="#exampleModal">
                        <i class="fas fa-users"></i> Users
                    </a>
                    <a type="button" class="dropdown-item" data-toggle="modal" data-target="#exampleModal">
                        <i class="far fa-bell"></i> Alerts
                    </a>
                    <a type="button" class="dropdown-item" data-toggle="modal" data-target="#exampleModal">
                        <i class="fas fa-server"></i> Settings
                    </a>
                    <a type="button" class="dropdown-item" data-toggle="modal" data-target="#exampleModal">
                        <i class="fas fa-clipboard-list"></i> Logs
                    </a>
                    <h6 class="dropdown-header">Administration</h6>
                    <a type="button" class="dropdown-item" data-toggle="modal" data-target="#systemInformationModal">
                        <i class="fas fa-sync"></i> Restart OctoFarm
                    </a>
                    <a type="button" class="dropdown-item" data-toggle="modal" data-target="#exampleModal">
                        <i class="fas fa-globe-europe"></i> Check for Updates
                    </a>
                    <a type="button" class="dropdown-item" data-toggle="modal" data-target="#exampleModal">
                        <i class="fas fa-cloud-download-alt"></i> Update OctoFarm
                    </a>
                <% } %>
                <h6 class="dropdown-header">OctoFarm</h6>
                <a type="button" class="dropdown-item" data-toggle="modal" data-target="#exampleModal">
                    <i class="fas fa-address-card"></i> About
                </a>
                <a type="button" class="dropdown-item" data-toggle="modal" data-target="#exampleModal">
                    <i class="fab fa-github"></i> Github
                </a>
                <a type="button" class="dropdown-item" data-toggle="modal" data-target="#exampleModal">
                    <i class="fas fa-money-bill-wave-alt"></i> Sponsorship!
                </a>
        </div>
    </li>
<% } %>