<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"><i class="fas fa-database"></i> Database Issue!</h1>
      <%- include('./partials/messages') %>
      <p>There is an issue with your mongodb server.</p>
      <p>Please double check your connection settings and restart OctoFarm.</p>
      </form>
    </div>
  </div>
</div>
