
                <div class="container-fluid" id="printerHealthChecksBody">
                    <div class="col-lg-12 table-responsive-sm table-responsive-md">
                        <table id="" class="table table-dark table-striped text-center">
                            <thead>
                            <tr>
                                <th scope="col" class="sticky-table table-dark" style="">Printer Name</th>
<!--                                Printer Checks-->
                                <th scope="col" class="sticky-table table-dark" style="">Printer Settings</th>
<!--                                Connection Checks-->
                                <th scope="col" class="sticky-table table-dark" style="">Connection Settings</th>
<!--                                API Checks-->
                                <th scope="col" class="sticky-table table-dark" style="">API</th>
<!--                                Websocket Checks-->
                                <th scope="col" class="sticky-table table-dark" style="">Network Issues</th>
<!--                                Connection Checks-->
                                <th scope="col" class="sticky-table table-dark" style="">Printer Connection</th>
<!--                                Profile Checks-->
                                <th scope="col" class="sticky-table table-dark" style="">Printer Profile</th>
<!--                                Webcam Settings-->
                                <th scope="col" class="sticky-table table-dark" style="">Webcam Settings</th>
                            </tr>
                            </thead>
                            <tbody id="healthChecksTable" style="height:100%; overflow-y:auto;">

                            </tbody>
                        </table>
                    </div>
                </div>