<div class="modal fade" id="healthChecksModal" tabindex="-1" role="dialog"
     aria-labelledby="printerHealthChecksModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header px-3 pt-3 pb-2" id="printerHealthChecksTitle">
                Printer Health Checks
            </div>
            <div class="modal-body">
                <div class="container-fluid" id="printerHealthChecksBody">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
