<div class="row text-center">
    <div class="col-lg-12">
        <button
                title="Create pre-defined custom gcode scripts to use with the Bulk Gcode commands"
                id="customGcodeBtn"
                type="button"
                class="tag btn btn-primary bg-colour-4"
                href="#"
                aria-expanded="false"
                data-toggle="modal" data-target="#printerCustomGcodeScriptsModal"

        >
            <i class="fas fa-code"></i> Gcode Scripts
        </button>
    </div>
    <div class="col-lg-12">
        <button
                title="Update multiple OctoPrint's at once."
                id="blkOctoPrintUpdate"
                type="button"
                class="tag btn btn-primary bg-colour-1"
                href="#"
                disabled
        >
            <i class="fas fa-desktop"></i> Update OctoPrints
        </button>
    </div>
    <div class="col-lg-12">
        <button
                title="Update multiple OctoPrint Plugins at once."
                id="blkUpdatePluginsBtn"
                type="button"
                class="tag btn btn-primary bg-colour-2"
                href="#"
                disabled
        >
            <i class="fas fa-plug"></i> Update Plugins
        </button>
    </div>
    <div class="col-lg-12">
        <button
                title="Tracking for Plugin Installation"
                id="pluginTracking"
                type="button"
                class="tag btn btn-info ml-1 p-1 d-none"
                href="#"
                disabled
        >

        </button>
    </div>

</div>
