<div class="text-center mt-1">
    <button
            title="Add Printer to your Farm"
            id="addPrinterBtn"
            type="button"
            class="tag btn btn-success bg-colour-1 m-1"
            href="#"
            aria-expanded="false"
    >
        <i class="fas fa-plus fa-sm"></i> Add
    </button>
    <button id="editPrinterBtn" type="button" class="tag btn btn-warning bg-colour-2 m-1"
            data-toggle="modal" data-target="#printerSelectModal">
        <i class="fas fa-edit"></i> Edit
    </button>
    <form id="uploadFileModalContentForm" class="text-center pb-0">
        <input

                class="fileElem"
                type="file"
                id="importPrinterBtn"
                accept=".json"
        /><label
                title="Import printers from a json file"
                class="tag btn btn-primary bg-colour-3 m-1"
                for="importPrinterBtn"
        ><i class="fas fa-file-import"></i> Import</label
        >
    </form>
    <button
            title="Export printers from OctoFarm"
            id="exportPrinterBtn"
            type="button"
            class="tag btn btn-info bg-colour-4 m-1"
            href="#"
            aria-expanded="false"
    >
        <i class="fas fa-file-export"></i> Export
    </button>
    <button
            title="Delete Printers from your farm"
            id="deletePrintersBtn"
            type="button"
            class="tag btn btn-primary bg-colour-1 m-1"
            href="#"
            aria-expanded="false"
            data-toggle="modal" data-target="#printerSelectModal"
    >
        <i class="fas fa-trash"></i> Delete
    </button>
    <button
            title="Add printers by scanning your network for online OctoPrint instances."
            id="scanNetworkBtn"
            type="button"
            class="tag btn btn-primary bg-colour-2 m-1"
            href="#"
            aria-expanded="false"
    >
        <i class="fas fa-wifi"></i> Scan
    </button>
    <button
            title="Create pre-defined custom gcode scripts to use with the Bulk Gcode commands"
            id="customGcodeBtn"
            type="button"
            class="tag btn btn-primary bg-colour-3 m-1"
            href="#"
            aria-expanded="false"
            data-toggle="modal" data-target="#printerCustomGcodeScriptsModal"

    >
        <i class="fas fa-code"></i> Gcode Scripts
    </button>
</div>
