<div class="text-center mt-1">
    <div class="btn-group">
        <button type="button" class="btn bg-colour-2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-crosshairs"></i> Bulk Commands
        </button>
        <div class="dropdown-menu">
            <button
                    title="Connect multiple Printers at once."
                    id="bulkConnectBtn"
                    type="button"
                    class="dropdown-item"
                    href="#"
                    aria-expanded="false"
                    data-toggle="modal" data-target="#printerSelectModal"
            >
                <i class="fas fa-link"></i> Connect
            </button>
            <button
                    title="Diconnect multiple Printers at once."
                    id="bulkDisconnectBtn"
                    type="button"
                    class="dropdown-item"
                    href="#"
                    aria-expanded="false"
                    data-toggle="modal" data-target="#printerSelectModal"
            >
                <i class="fas fa-unlink"></i> Disconnect
            </button>
            <button
                    title="Power On/Off multiple Printers at once."
                    id="bulkPowerBtn"
                    type="button"
                    class="dropdown-item"
                    href="#"
                    aria-expanded="false"
                    data-toggle="modal" data-target="#printerSelectModal"
            >
                <i class="fas fa-power-off"></i> Power
            </button>
            <button
                    title="Re-Sync multiple Printers in your farm at once. This has no bearing on Active Prints!"
                    id="searchOfflineBtn"
                    type="button"
                    class="dropdown-item"
                    href="#"
            >
                <i class="fas fa-redo fa-sm"></i> Re-Sync
            </button>
            <button
                    title="Send heating commands to multiple printers at once."
                    id="bulkPreHeat"
                    type="button"
                    class="dropdown-item"
                    href="#"
                    aria-expanded="false"
                    data-toggle="modal" data-target="#printerSelectModal"
            >
                <i class="fas fa-temperature-high"></i> Pre-Heat
            </button>
            <button
                    title="Control multiple printers at once."
                    id="bulkControl"
                    type="button"
                    class="dropdown-item"
                    href="#"
                    aria-expanded="false"
                    data-toggle="modal" data-target="#printerSelectModal"
            >
                <i class="fas fa-gamepad"></i> Control
            </button>
            <button
                    title="Send gcode commands to multiple printers at once."
                    id="bulkGcodeCommands"
                    type="button"
                    class="dropdown-item"
                    href="#"
                    aria-expanded="false"
                    data-toggle="modal" data-target="#printerSelectModal"
            >
                <i class="fas fa-code"></i> Gcode
            </button>
        </div>
    </div>
</div>
