<div
        id="actionsBar"
        class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-0 pb-0"
>
    <div class="card text-white bg-dark mx-0 my-0">
        <div class="row px-1" id="actionsBarBody">
            <div class="col-12">
                <button
                        title="Add Printer to your Farm"
                        id="addPrinterBtn"
                        type="button"
                        class="btn btn-success"
                        href="#"
                        aria-expanded="false"
                >
                    <i class="fas fa-plus fa-sm"></i> Add
                </button>
                <button id="editPrinterBtn" type="button" class="btn btn-warning text-dark"
                        data-toggle="modal" data-target="#printerSelectModal">
                    <i class="fas fa-edit"></i> Edit
                </button>
                <form id="uploadFileModalContentForm" class="btn btn-info">
                    <input
                            class="fileElem"
                            type="file"
                            id="importPrinterBtn"
                            accept=".json"
                    /><label
                            class="d-inline"
                            title="Import printers from a json file"
                            for="importPrinterBtn"
                    ><i class="fas fa-file-import"></i> Import</label
                    >
                </form>
                <button
                        title="Export printers from OctoFarm"
                        id="exportPrinterBtn"
                        type="button"
                        class="btn btn-primary"
                        href="#"
                        aria-expanded="false"
                >
                    <i class="fas fa-file-export"></i> Export
                </button>
                <button
                        title="Delete Printers from your farm"
                        id="deletePrintersBtn"
                        type="button"
                        class="btn btn-danger"
                        href="#"
                        aria-expanded="false"
                        data-toggle="modal" data-target="#printerSelectModal"
                >
                    <i class="fas fa-trash"></i> Delete
                </button>
                <button
                        title="Add printers by scanning your network for online OctoPrint instances."
                        id="scanNetworkBtn"
                        type="button"
                        class="btn btn-secondary"
                        href="#"
                        aria-expanded="false"
                >
                    <i class="fas fa-wifi"></i> Scan
                </button>
                <button
                        title="Re-establish the OctoFarm -> OctoPrint connection"
                        id="searchOfflineBtn"
                        type="button"
                        class="btn btn-outline-info"
                        href="#"
                >
                    <i class="fas fa-redo fa-sm"></i> Re-Connect
                </button>
                <%- include('./octoPrintActionBtns.ejs') %>
                <button type="button" class="btn bg-colour-1 float-right mr-1" data-toggle="modal" data-target="#farmOverviewModal">
                    <i class="fas fa-infinity"></i> Farm Overview
                </button>
            </div>
        </div>
    </div>
</div>
