<div
        id="actionsBar"
        class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-0 pb-0"
>
    <div class="card text-white bg-dark mx-0 my-0">
        <div class="row px-1" id="actionsBarBody">
            <div class="col-12">
                <div class="dropdown">
                    <button class="btn btn-outline-success dropdown-toggle float-left mr-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-print"></i> Printer Manager
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a  class="dropdown-item" title="Add Printer to your Farm"
                           id="addPrinterBtn"
                           href="#"
                           aria-expanded="false"><i class="fas fa-plus fa-sm"></i> Add</a>
                        <a  class="dropdown-item" id="editPrinterBtn" type="button" class="btn btn-warning text-dark" data-toggle="modal" data-target="#printerSelectModal"><i class="fas fa-edit"></i> Edit</a>
                        <a  class="dropdown-item" title="Delete Printers from your farm"
                          id="deletePrintersBtn"
                          data-toggle="modal" data-target="#printerSelectModal"><i class="fas fa-trash"></i> Delete</a>
                        <label>
                            <input  class="fileElem"
                                    type="file"
                                    id="importPrinterBtn"
                                    accept=".json" style="display: none;">
                            <a title="Import printers from a json file" class="dropdown-item"><i class="fas fa-file-import"></i> Import</a>
                        </label>
                        <a  class="dropdown-item" title="Export printers from OctoFarm"
                           id="exportPrinterBtn">
                            <i class="fas fa-file-export"></i> Export
                        </a>
                        <a  class="dropdown-item" title="Add printers by scanning your network for online OctoPrint instances."
                           id="scanNetworkBtn">
                            <i class="fas fa-wifi"></i> Scan
                        </a>
                    </div>
                </div>
                <%- include('./octoPrintActionBtns.ejs') %>
                <button
                        title="Scan all of your OctoPrint instances API endpoints"
                        id="searchOfflineBtn"
                        type="button"
                        class="btn btn-outline-info"
                        href="#"
                >
                    <i class="fas fa-redo fa-sm"></i> ReScan All API's
                </button>
                <button
                        title="Reconnect all of your OctoPrint websocket connections."
                        id="forceSearchOffline"
                        type="button"
                        class="btn btn-outline-danger"
                        href="#"
                >
                    <i class="fas fa-sync-alt fa-sm"></i> Reconnect All Sockets
                </button>
                <%- include('./devOctoPrintActionBtns.ejs') %>
                <button type="button" class="btn btn-outline-info float-right mr-1" data-toggle="modal" data-target="#connectionsOverviewModal">
                    <i class="fas fa-plug"></i> Connections Overview
                </button>
                <button type="button" class="btn btn-outline-success float-right mr-1" data-toggle="modal" data-target="#farmOverviewModal">
                    <i class="fas fa-infinity"></i> Printer Overview
                </button>
                <button
                        title="Check over your OctoPrint setup for OctoFarm usage"
                        id="printerHealthCheckBtn"
                        type="button"
                        class="btn btn-outline-warning float-right mr-1"
                        href="#"
                        data-toggle="modal" data-target="#healthChecksModal"
                >
                    <i class="fas fa-heartbeat"></i> Health Checks

                </button>
            </div>
        </div>
    </div>
</div>
