<% const base = "../.." %>
<% const input = base + "/octofarm-input.ejs" %>
<div class="row">
    <div id="userResetMessage" class="col-12">

    </div>
    <div class="col-12">
        <%- include(input, {
        inputType: "password",
        inputID: "resetPassword",
        inputName: "password",
        inputPlaceholder: "Password",
        inputAutoComplete: "new-password",
        inputLabel: "Password",
        }) %>
    </div><br>
    <div class="col-12">
        <%- include(input, {
        inputType: "password",
        inputID: "resetPassword2",
        inputName: "password2",
        inputPlaceholder: "Confirm Password",
        inputAutoComplete: "new-password",
        inputLabel: "Confirm Password",
        }) %>
    </div>
</div>