<div class="header_user_menu btn-group btn-group-sm me-4">
    <a href="#offcanvasExample" data-bs-toggle="offcanvas" role="button" aria-controls="offcanvasExample">
        <i class="fa-solid fa-bell text-purple"></i>
        <small class="position-absolute top-0 alert-badge translate-middle badge rounded-pill bg-warning">
            9
            <span class="visually-hidden">unread messages</span>
        </small>
    </a>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Notifications</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="alert alert-warning alert-dismissible fade show d-flex align-items-center" role="alert">
            <i class="fa-solid fa-bell me-2"></i>
            <div>
                Low space warning
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="alert alert-warning alert-dismissible fade show d-flex align-items-center" role="alert">
            <i class="fa-solid fa-bell me-2"></i>
            <div>
                Ender-5 has health warnings!
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>

