<div class="versionInformation slow-hide text-center " id="versionInformation">
    <small title="Current server version">
        <i class="fa-solid fa-server text-purple"></i> v<%= serverVersion %>
    </small>
</div>