name: Frontend Webpack and NPM Publish
on:
  pull_request:
  push:
    branches:
      - 'master'
      - 'development'
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - run: npm ci --no-optional
        working-directory: ./client_src
      - run: npm test
        working-directory: ./client_src
      - run: npm run webpack:prod
        working-directory: ./client_src
      - uses: JS-DevTools/npm-publish@v1
        with:
          dry-run: ${{ github.event_name == 'pull_request' }}
          token: ${{ secrets.NPM_TOKEN }}
          package: ./client_src/package.json
