name: Release Master Version
on:
  pull_request:
    types: [closed]
    branches:
      - master
    paths-ignore:
      - "server/package.json"
      - "client/package.json"
      - "server/package-lock.json"
      - "client/package-lock.json"
      - "client/dist"
      - "server/views/assets/dist"

jobs:
  master-version-release:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    env:
      INPUT_TOKEN: ''
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    steps:
      # Checkout the development repository
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: master
          token: ${{ secrets.TOKEN_ACTION }}
      - name: git config
        run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"

      # Check to see if changes have occurred in client / server directories
      - name: Detecting changes
        uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            server:
            - 'server/app.js'
            - 'server/app-core.js'
            - 'server/app-env.js'
            - 'server/app-fallbacks.js'
            - 'server/migrate-mongo-config.js'
            - 'server/tasks.js'
            - 'server/cache/**'
            - 'server/constants/**'
            - 'server/exceptions/**'
            - 'server/handlers/**'
            - 'server/middleware/**'
            - 'server/migrations/**'
            - 'server/models/**'
            - 'server/routes/**'
            - 'server/services/**'
            - 'server/store/**'
            - 'server/utils/**'
            - 'server/views/**'
            client:
            - 'client/index.js'
            - 'client/webpack.config.js'
            - 'client/css/**'
            - 'client/js/**'
      # Install node v16 to use.
      - name: Use Node
        uses: actions/setup-node@v2
        with:
          node-version: "16.15.0"

      # Run the client release sequence
      - name: client build
        if: steps.filter.outputs.client == 'true'
        run: |
          cd ./client
          npm config set //registry.npmjs.org/:_authToken $NPM_TOKEN
          npm ci --no-optional
          git status
          npm run build
          npm run release
          cd ../
      # Wait for 30 seconds just to make sure npm has new package. Not always needed but on the off chance I don't have to re-run the action!
      - name: Wait for npm to update package...
        if: steps.filter.outputs.client == 'true'
        uses: whatnick/wait-action@master
        with:
          time: '30s'


      # Run the server release sequence
      - name: server build and release
        if: steps.filter.outputs.server == 'true'
        run: |
          cd ./server
          git status
          npm ci --no-optional
          npm run release

      # Update Server Package with latest client package
      - name: update server client version
        if: steps.filter.outputs.client == 'true'
        run: npm install @notexpectedyet/octofarm-client@latest --save
        working-directory: ./server

        ## commit to repo, and prep pre-release
      - name: commit-changes-made
        if: steps.filter.outputs.client == 'true'
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          branch: master
          commit_message: "ci(main) - update client v${{ steps.client-package-version.outputs.current-version }} [skip ci]"
          commit_user_name: NotExpectedYet
          commit_user_email: online@notexpectedyet.com
          commit_author: James Mackay <online@notexpectedyet.com>
          ## This action should only ever commit these two files!
          file_pattern: server/package*.json client/package*.json
