name: Node.js CI

on:
  push:
    branches: [ develop, master ]
  pull_request:
jobs:
  nodejs-build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [15.x, 14.x]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci --no-optional
    - run: npm run build --if-present
    - run: npm test
